* {
padding:0;
margin:0;
}

body{
background: url('background.jpg');
}

.center {
display: flex;
align-items: center;
justify-content: center;
}

.game-grid {
	display: grid;
grid-template-columns: auto auto auto;
}
.grid-item {
color: rgb(0,0,0);
text-align: center;
border: 1px solid rgba(255,255,255,0.7);
padding: 20px;
font-size: 100px;
width: 100px;
height: 100px;
cursor: pointer;
background-color: rgba(255,255,255,0.2);
transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
text-shadow: 0px 5px 5px black;
}

.grid-item:hover {
	transform: scale(1.03);
	background-color: rgba(255,255,255,0.4);
}



.turn {
text-align: center;
font-size: 80px;
color: white;
text-shadow: 0px 2px 5px #aaa;
}

.title {
text-align: center;
font-family: monospace;
font-size: 100px;
color: aqua;
filter: blur(0.2px);
opacity: 0.8;
font-weight: 600;
margin-bottom: 100px;
}